
     <style>
        .back-color{
          background-color:rgb(227, 234, 232) ;
        }
     </style>
     
     
     <!------Navigation navbar----------->
      
    <nav class="navbar navbar-expand-lg navbar-light back-color py-2 sticky-top shadow">
        <div class="container">
          <a class="navbar-brand" href="#"><h1>DENTA<span class="text-danger">CARE</span></h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><h6>Home</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"><h6>About</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services"><h6>Services</h6></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/doctors"><h6>Doctors</h6></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/blog"><h6>Blog</h6></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/appoitment"><h6>Appoitment</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact"><h6>Contact</h6></a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
