

 <!-----------------About section------------------------->

<div class="about-section" style="background-image: linear-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7)), url(images/family-dental.jpg); background-repeat: no-repeat; background-position: center ; background-attachment:fixed ; background-size:cover; padding:100px 0 100px; color: #fff;"> 
    <div class="container"> 
   <div class="about-content"> 
       <div class="about-detail">
          <h5 class="text-warning fw-bold">ABOUT US</h5>
          <h4 class="fw-bold display-5">Dedicated to excellence. <br>Dedicated to your smile.</h4>
          <p class="py-2">Fames fringilla curabitur leo semper odio. Magna ut senectus dis. Porttitor id mollis velit. Eleifend proin lorem quisque pharetra et. Dis ante diam elit in. Condimentum fermentum litora lectus fringilla dictumst nec lacinia. Blandit taciti letius a vestibulum ex rhoncus tincidunt. Molestie accumsan netus rhoncus.
            Pellentesque maximus mollis libero sociosqu malesuada nibh. Donec sollicitudin tincidunt ultrices id. Risus pulvinar pretium pharetra dignissim malesuada. Habitant torquent magna ullamcorper. Congue vestibulum praesent sit. </p>
          <h3 class="text-warning fw-bold mt-2">Gregory Jamisson</h3>
          <img src="images/Signature.png" class="signature mt-2" alt="">
        </div>
    </div>
    </div>
  </div>




<!-------info section------------->

<div class="info">
  <div class="container">

    <div class="info-content">
        <img src="images/docto-dentist.png" alt="">

     <h4 class=" display-5 title"><span><?xml version="1.0" encoding="utf-8"?>
        <!-- License: CC Attribution. Made by wishforge.games: https://www.wishforge.games/ -->
        <svg class="mb-5" fill="orange" height="80px" width="80px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	       viewBox="0 0 32 32" xml:space="preserve">
        <g>
	       <path d="M13,11c0.6,0,1-0.4,1-1s-0.4-1-1-1c-5,0-9,4-9,9c0,2.8,2.2,5,5,5s5-2.2,5-5s-2.2-5-5-5c-0.3,0-0.7,0-1,0.1
	      	C9.3,11.8,11,11,13,11z"/>
	        <path d="M23,13c-0.3,0-0.7,0-1,0.1c1.3-1.3,3-2.1,5-2.1c0.6,0,1-0.4,1-1s-0.4-1-1-1c-5,0-9,4-9,9c0,2.8,2.2,5,5,5s5-2.2,5-5
	      	S25.8,13,23,13z"/>
        </g>
      </svg></span>
       Our mission is to give you more confidence and put <br>smile on your faces <span><?xml version="1.0" encoding="utf-8"?>
        <!-- License: CC Attribution. Made by wishforge.games: https://www.wishforge.games/ -->
       <svg fill="orange" height="80px" width="80px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	      viewBox="0 0 32 32" xml:space="preserve">
       <g>
	     <path d="M23,9c-2.8,0-5,2.2-5,5s2.2,5,5,5c0.3,0,0.7,0,1-0.1c-1.3,1.3-3,2.1-5,2.1c-0.6,0-1,0.4-1,1s0.4,1,1,1c5,0,9-4,9-9
	      	C28,11.2,25.8,9,23,9z"/>
	      <path d="M9,9c-2.8,0-5,2.2-5,5s2.2,5,5,5c0.3,0,0.7,0,1-0.1C8.7,20.2,7,21,5,21c-0.6,0-1,0.4-1,1s0.4,1,1,1c5,0,9-4,9-9
	      	C14,11.2,11.8,9,9,9z"/>
      </g>
      </svg></span>
  </h4>
</div>
  </div>
</div>





<!---------------Our services----------------->

 <div class="section-service">
    <div class="container">
        <div class="service-header text-center mt-5">
            <h4 class="fw-bold">Our Service Keeps you Smile</h4>
             <h2 class="fw-bold display-4 text-primary">What We Offer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, possimus.</p>
        </div>
        <div class="service-content">
              <div class="service-detail text-center">
                  <img src="images/dental-fillings.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Dental filling</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>


                <div class="service-detail text-center">
                <img src="images/braces.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Teeth braces</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>



                <div class="service-detail text-center">
                   <img src="images/implant.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Implant</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>


                 <div class="service-detail text-center">
                   <img src="images/tooth-insurance-1.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Teeth whitening</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>


               <div class="service-detail text-center">
                   <img src="images/extraction.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Tooth extraction</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>



              <div class="service-detail text-center">
                 <img src="images/whitening.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Teeth cleaning</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>
        </div>
    </div>
 </div>




    <!--------------------Testimony section----------------------------->


    <div class="testimony-section" style="background-image: linear-gradient(rgba(5, 142, 215, 0.7), rgba(91, 194, 249, 0.6)), url(images/docto-bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; padding:100px 0 100px; color: #fff;"> 
        <div class="container">
            <div class="testimony-header text-center">
                <h5 class="fw-bold fs-3">TESTIMONIALS</h5>
                <h3 class="display-4 fw-bold text-dark">What Clients are Say</h3>
            </div>
          <div class="testimony-content">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
             <div class="carousel-inner">
              <div class="carousel-item active slide-1"> 
                 <img src="images/dental6.jpg" alt="">
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, repudiandae <br>amet consectetur adipisicing elit?</P>
                <h4 class="text-dark fs-3 fw-bold">Jennifer Aniston</h4>
                 <h5>New York, USA</h5>
           </div>
         <div class="carousel-item slide-2">
            <img src="images/dental7.jpg" alt="">
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, repudiandae <br>amet consectetur adipisicing elit ?</P>
                <h4 class="text-dark fs-3 fw-bold">Gregory Miller</h4>
                <h5>Texas, USA</h5>
       </div>
      <div class="carousel-item slide-3">
            <img src="images/dental8.jpg" alt="">
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, repudiandae <br>amet consectetur adipisicing elit?</P>
           <h4 class="text-dark fs-3 fw-bold">Amira Montana</h4>
          <h5>Florida, USA</h5>
        </div>
    </div>
              
        <button class="carousel-control-prev previous" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
         <span >
              <?xml version="1.0" encoding="utf-8"?>
              <!-- License: PD. Made by Mary Akveo: https://maryakveo.com/ -->
             <svg fill="green" width="40px" height="40px" viewBox="0 0 24 24" id="left-arrow" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M21,11H5.41l1.3-1.29A1,1,0,0,0,5.29,8.29l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L5.41,13H21a1,1,0,0,0,0-2Z" style="fil: rgb(0, 0, 0);"></path></svg>
         </span>
         <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next nexto" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span>
                 <?xml version="1.0" encoding="utf-8"?>
                 <!-- License: PD. Made by Mary Akveo: https://maryakveo.com/ -->
                <svg fill="green" width="40px" height="40px" viewBox="0 0 24 24" id="right-arrow" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M21.71,11.29l-3-3a1,1,0,0,0-1.42,1.42L18.59,11H3a1,1,0,0,0,0,2H18.59l-1.3,1.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,21.71,11.29Z" style="fil: rgb(0, 0, 0);"></path></svg>
              </span>
              <span class="visually-hidden ">Next</span>
          </button>

            </div>
        </div>
    </div>
</div>
 
