

<!------------sign up section------------------------->
<div class="signUp-section">
   <h2>Register Here</h2>
  <form action="/login" method="POST" class="">
    <input type="text" placeholder="Enter your  full name">
    <input type=" text" placeholder="Enter your email address">
    <input type="text" placeholder="Enter your phone number">
    <input type="text" placeholder="Enter your password">
    <input type="submit" id="submit" value="Submit">
    <a href="/login">send me there</a>
 </form>
</div>