

<div class="blog1-header">
     <h2 class="fw-bold display-2">How Often Should I Replace <br>My Toothbrush? </h2>
     <p class="text-danger fw-bold"> Michael Picco July 22, 2021</p>
</div>

<div class="blog1">
    <div class="container">
        <div class="blog-wrapper">
            <div class="blog-hero">
                 <img src="images/brush.jpg" alt="">
               <div class="blog-detail py-5">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat temporibus impedit deleniti perferendis consequatur illo incidunt, corporis voluptatibus, reprehenderit unde quaerat iure ipsam nihil illum tempore quod velit nesciunt eaque saepe, soluta corrupti autem. Inventore animi earum quibusdam quasi. Quas nostrum ea nesciunt adipisci facere.</p>
                  <br>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus blanditiis distinctio corrupti rem vel beatae suscipit voluptates delectus, eos repellendus qui eum dicta ipsam cumque impedit, laboriosam repudiandae dolorem amet saepe quidem veniam, accusamus provident dignissimos tempora. Asperiores totam consectetur laboriosam laborum repellat a at hic! Architecto minima assumenda temporibus?</p>
                   <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, odio!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vero?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, iste?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, sed.</li>
                   </ul>
                   <br>
                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi temporibus fugit perspiciatis quo nostrum velit, maiores illum ea accusantium nemo odit aperiam in cupiditate labore a facere perferendis! Non, commodi?</p>
                   <br>
                   <img src="images/dental11.jpg" alt="">
                   <h2 class="mt-3">Teeth Cleaning</h2>
                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa et quaerat cumque quis nemo labore laudantium ipsum voluptates est quisquam! Quam modi aliquid ducimus asperiores quia veritatis pariatur? Quod quo optio ad sit suscipit perspiciatis nobis nemo tempore laboriosam quos.</p>
                </div>
            </div>
            <div class="blog-description">
                <h5 class="mb-4 display-5 fw-bold">Latest Post</h5>

                <div class="blog-text d-flex">
                    <img src="images/sugar.jpg" alt="">
                    <div class="content ms-3">
                        <a href="/blog2">Reduce Sugar Intake This Summer With Bikini Ready Snacks Your Kids <br> Will Love </a>
                        <p class="text-primary">July 22, 2021 / No Comments </p>
                    </div>
                </div>
                 <div class="blog-text d-flex mt-4">
                    <img src="images/clean.jpg" alt="">
                    <div class="content ms-3">
                        <a href="/blog5">Straight Teeth – It’s Not Just About A Pretty Smile: The Medical Benefits <br> of Braces </a>
                         <p class="text-primary">July 22, 2021 / No Comments </p>
                    </div>
                </div>
                 <div class="blog-text d-flex mt-4">
                    <img src="images/advice.jpg" alt="">
                    <div class="content ms-3">
                        <a href="/blog3">Botox In Dentistry – <br>The Next Big Thing? </a>
                         <p class="text-primary">July 22, 2021 / No Comments </p>
                    </div>
                </div>
                 <div class="blog-text d-flex mt-4">
                    <img src="images/brush.jpg" alt="">
                    <div class="content ms-3">
                        <a href="/blog1">How Often Should I Replace My Toothbrush?</a> 
                         <p class="text-primary">July 22, 2021 / No Comments </p>
                    </div>
                </div>
                 <div class="blog-text d-flex mt-4">
                    <img src="images/dental-exam.jpg" alt="">
                    <div class="content ms-3">
                        <a href="/blog4">Things You May Not Know About Medicaid Dental Benefits</a>
                        <p class="text-primary">July 22, 2021 / No Comments </p>
                    </div>
                </div>
                 <div class="blog-text d-flex mt-4">
                    <img src="images/dental-problems.jpg" alt="">
                    <div class="content ms-3">
                     <a href="/blog6">How to Get Better Sleep When You Experience Sleep Apnea Symptoms </a>
                     <p class="text-primary">July 22, 2021 / No Comments </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------Related articles---------------------->

<div class="relate-article">
    <div class="container">
        <h1>Related Article</h1>
        <div class="relate-content">
            <div class="blog-content">
                <img src="images/clean.jpg" alt="">
                  <div class="blog-detail mt-3">

                  <div class="icons d-flex justify-content-between">
                    <div class="d-flex">
                        <span>
                             <?xml version="1.0" encoding="utf-8"?>
                            <!-- License: MIT. Made by Microsoft: https://github.com/microsoft/vscode-codicons -->
                              <svg width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#054c5b"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 2H13V1h-1v1H4V1H3v1H1.5l-.5.5v12l.5.5h13l.5-.5v-12l-.5-.5zM14 14H2V5h12v9zm0-10H2V3h12v1zM4 8H3v1h1V8zm-1 2h1v1H3v-1zm1 2H3v1h1v-1zm2-4h1v1H6V8zm1 2H6v1h1v-1zm-1 2h1v1H6v-1zm1-6H6v1h1V6zm2 2h1v1H9V8zm1 2H9v1h1v-1zm-1 2h1v1H9v-1zm1-6H9v1h1V6zm2 2h1v1h-1V8zm1 2h-1v1h1v-1zm-1-4h1v1h-1V6z"/></svg>
                        </span>
                        <span class="ms-2 mt-1">01 Jan 2045</span>
                    </div>
                    <div class="d-flex">
                        <span>
                             <?xml version="1.0" encoding="utf-8"?>
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <!-- License: PD. Made by pixeden.com: https://pixeden.com -->
                            <svg width="20px" height="20px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="icomoon-ignore"></g>               
                             <path d="M21.331 10.669v-7.997h-18.659v14.394h7.997v7.997h11.063l4.265 4.264h0.665v-4.264h2.666v-14.394h-7.997zM3.738 16v-12.262h16.527v6.931h-9.596v5.331h-6.931zM28.262 23.997h-2.666v3.422l-3.423-3.422h-10.439v-12.262h16.527v12.262z" fill="#054c5b"></path>
                             </svg>
                        </span>
                        <span class="ms-2 mt-1">3 comments</span>
                    </div>
                </div>
                <h4 class="fw-bold mt-4">Straight Teeth – It’s Not Just About A Pretty Smile: The Medical Benefits of Braces </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>Laudantium hic consequatur beatae architecto</p>
                <a href="/blog5" class="btn bg-secondary">Read more</a>
                </div>
             </div>


             <div class="blog-content">
                <img src="images/dental-exam.jpg" alt="">
                  <div class="blog-detail mt-3">

                  <div class="icons d-flex justify-content-between">
                    <div class="d-flex">
                        <span>
                             <?xml version="1.0" encoding="utf-8"?>
                            <!-- License: MIT. Made by Microsoft: https://github.com/microsoft/vscode-codicons -->
                              <svg width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#054c5b"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 2H13V1h-1v1H4V1H3v1H1.5l-.5.5v12l.5.5h13l.5-.5v-12l-.5-.5zM14 14H2V5h12v9zm0-10H2V3h12v1zM4 8H3v1h1V8zm-1 2h1v1H3v-1zm1 2H3v1h1v-1zm2-4h1v1H6V8zm1 2H6v1h1v-1zm-1 2h1v1H6v-1zm1-6H6v1h1V6zm2 2h1v1H9V8zm1 2H9v1h1v-1zm-1 2h1v1H9v-1zm1-6H9v1h1V6zm2 2h1v1h-1V8zm1 2h-1v1h1v-1zm-1-4h1v1h-1V6z"/></svg>
                        </span>
                        <span class="ms-2 mt-1">01 Jan 2045</span>
                    </div>
                    <div class="d-flex">
                        <span>
                             <?xml version="1.0" encoding="utf-8"?>
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <!-- License: PD. Made by pixeden.com: https://pixeden.com -->
                            <svg width="20px" height="20px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="icomoon-ignore"></g>               
                             <path d="M21.331 10.669v-7.997h-18.659v14.394h7.997v7.997h11.063l4.265 4.264h0.665v-4.264h2.666v-14.394h-7.997zM3.738 16v-12.262h16.527v6.931h-9.596v5.331h-6.931zM28.262 23.997h-2.666v3.422l-3.423-3.422h-10.439v-12.262h16.527v12.262z" fill="#054c5b"></path>
                             </svg>
                        </span>
                        <span class="ms-2 mt-1">3 comments</span>
                    </div>
                </div>
                <h4 class="fw-bold mt-4">Things You May Not Know About Medicaid Dental Benefits </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>Laudantium hic consequatur beatae architecto</p>
                <a href="/blog4" class="btn bg-secondary">Read more</a>
                </div>
             </div>
             <div class="blog-content">
                <img src="images/dental-problems.jpg" alt="">
                  <div class="blog-detail mt-3">

                  <div class="icons d-flex justify-content-between">
                    <div class="d-flex">
                        <span>
                             <?xml version="1.0" encoding="utf-8"?>
                            <!-- License: MIT. Made by Microsoft: https://github.com/microsoft/vscode-codicons -->
                              <svg width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#054c5b"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 2H13V1h-1v1H4V1H3v1H1.5l-.5.5v12l.5.5h13l.5-.5v-12l-.5-.5zM14 14H2V5h12v9zm0-10H2V3h12v1zM4 8H3v1h1V8zm-1 2h1v1H3v-1zm1 2H3v1h1v-1zm2-4h1v1H6V8zm1 2H6v1h1v-1zm-1 2h1v1H6v-1zm1-6H6v1h1V6zm2 2h1v1H9V8zm1 2H9v1h1v-1zm-1 2h1v1H9v-1zm1-6H9v1h1V6zm2 2h1v1h-1V8zm1 2h-1v1h1v-1zm-1-4h1v1h-1V6z"/></svg>
                        </span>
                        <span class="ms-2 mt-1">01 Jan 2045</span>
                    </div>
                    <div class="d-flex">
                        <span>
                             <?xml version="1.0" encoding="utf-8"?>
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <!-- License: PD. Made by pixeden.com: https://pixeden.com -->
                            <svg width="20px" height="20px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="icomoon-ignore"></g>               
                             <path d="M21.331 10.669v-7.997h-18.659v14.394h7.997v7.997h11.063l4.265 4.264h0.665v-4.264h2.666v-14.394h-7.997zM3.738 16v-12.262h16.527v6.931h-9.596v5.331h-6.931zM28.262 23.997h-2.666v3.422l-3.423-3.422h-10.439v-12.262h16.527v12.262z" fill="#054c5b"></path>
                             </svg>
                        </span>
                        <span class="ms-2 mt-1">3 comments</span>
                    </div>
                </div>
                <h4 class="fw-bold mt-4">How to Get Better Sleep When You Experience Sleep Apnea Symptoms </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>Laudantium hic consequatur beatae architecto</p>
                <a href="/blog6" class="btn bg-secondary">Read more</a>
                </div>
             </div>


        </div>
    </div>
</div>



