
<!-----------blog section---------------------->

<div class="contact-header" style="background-image: linear-gradient(rgba(20, 21, 51, 0.8), rgba(20, 21, 51, 0.8)), url(images/dental-team.jpg); background-repeat: no-repeat; background-position: center; margin-top:0px ; background-attachment: fixed; background-size: cover; padding:200px 0 200px; color: #fff;"> 
    <div class="container">
        <h2 class="display-4 title-service">"Get in Touch for a Brighter Smile <br>and Radiant Oral Health!"!</h2>
        <p class="fs-4 mt-4 text">"Whether you have questions, need an appointment, or just want to say hello,  <br>our team is here to help you shine with confidence!".</p>
        <a href="/doctors"  class=" text-white mt-3 btn">Learn more</a>
    </div>
</div>





<!----------CONTACT SECTION------------->

<div class="contact-form" style="background-image: linear-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7)), url(images/medical-check.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; padding:300px 0 300px; color: #fff;"> 
    <div class="container">
        <div class="contact-form-container">

               <div class="contact-reference-a"> 
                    <div class="contact-reference-detail">
                           <?xml version="1.0" encoding="utf-8"?>
                           <!-- License: PD. Made by stephenhutchings: https://github.com/stephenhutchings/typicons.font -->
                           <svg id="icon" fill="orange" width="60px" height="60px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"><path d="M17.657 5.304c-3.124-3.073-8.189-3.073-11.313 0-3.124 3.074-3.124 8.057 0 11.13l5.656 5.565 5.657-5.565c3.124-3.073 3.124-8.056 0-11.13zm-5.657 8.195c-.668 0-1.295-.26-1.768-.732-.975-.975-.975-2.561 0-3.536.472-.472 1.1-.732 1.768-.732s1.296.26 1.768.732c.975.975.975 2.562 0 3.536-.472.472-1.1.732-1.768.732z"/></svg>
                       <div class="contact-reference-text mt-4">
                            <h3>LOCATION</h3>
                            <p>Naas Rd, Littleconnell, <br>Newbridge, Newtown</p>
                       </div>
                    </div>
       
                    <div class="contact-reference-detail">
               
                           <?xml version="1.0" encoding="utf-8"?>
                           <!-- License: MIT. Made by Microsoft: https://github.com/microsoft/vscode-codicons -->
                           <svg id="icon"  width="60px" height="60px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="orange"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 3.5l.5-.5h13l.5.5v9l-.5.5h-13l-.5-.5v-9zm1 1.035V12h12V4.536L8.31 8.9H7.7L2 4.535zM13.03 4H2.97L8 7.869 13.03 4z"/></svg>
                     
                       <div class="contact-reference-text mt-4">
                            <h3>MAIL</h3>
                             <p>dentalcare@dental.online <br> info@dental.online </p>
                       </div>
                    </div>
       
                    <div class="contact-reference-detail">
                     
                           <?xml version="1.0" encoding="utf-8"?>
                           <!-- License: CC Attribution. Made by salesforce: https://lightningdesignsystem.com -->
                           <svg id="icon"    fill="orange" xmlns="http://www.w3.org/2000/svg" 
                                width="60px" height="60px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                           <path d="M77.7,63.9l-6.2-5c-2.1-1.7-5.1-1.801-7.3-0.2L58.3,63c-0.8,0.6-1.899,0.5-2.6-0.2L46,54l-8.9-9.8
                               c-0.7-0.7-0.8-1.8-0.2-2.6l4.3-5.9c1.6-2.2,1.5-5.2-0.2-7.3l-5-6.2c-2.2-2.8-6.4-3-8.9-0.5l-5.4,5.4c-1.2,1.2-1.8,2.9-1.8,4.5
                               c0.7,12.7,6.5,24.8,15,33.3s20.5,14.3,33.3,15c1.7,0.1,3.3-0.601,4.5-1.801L78.1,72.7C80.8,70.3,80.5,66.1,77.7,63.9z"/>
                           </svg>
                      
                       <div class="contact-reference-text mt-4">
                            <h3>CALL</h3>
                            <p> +353 53 916 1144 <br> +353 87 346 1 </p>
                       </div>
                    </div>
       
                    <div class="contact-reference-detail">
                    
                           <?xml version="1.0" encoding="utf-8"?>
                           <!-- License: PD. Made by CFPB: https://github.com/cfpb/design-system -->
                           <svg  id="icon"  fill="orange" width="60px" height="60px" viewBox="-2.5 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><path d="M2.215 16.087a1.48 1.48 0 0 1-1.48-1.48V8.36a1.48 1.48 0 0 1 2.96 0v6.248a1.48 1.48 0 0 1-1.48 1.48zm9.941-8.23h-.316V5.7l-.336-.336-2.503-2.503-.336-.337H2.82A.476.476 0 0 0 2.346 3v2.934a2.408 2.408 0 0 1 .815.188 2.455 2.455 0 0 1 .293.148V3.633h4.352v2.276a.632.632 0 0 0 .63.63h2.296v1.319H4.593a2.44 2.44 0 0 1 .052.501v6.248a2.426 2.426 0 0 1-.486 1.458h7.997a1.111 1.111 0 0 0 1.108-1.109v-5.99a1.112 1.112 0 0 0-1.108-1.108zm-5.391 3.041a.475.475 0 1 1-.002-.95h.002a.475.475 0 0 1 0 .95zm0 1.543a.475.475 0 0 1-.002-.95h.002a.475.475 0 0 1 0 .95zm0 1.543a.475.475 0 1 1-.002-.95h.002a.475.475 0 0 1 0 .95zm1.92-3.086h-.002a.475.475 0 0 1 0-.95h.003a.475.475 0 0 1 0 .95zm0 1.543h-.002a.475.475 0 0 1 0-.95h.003a.475.475 0 0 1 0 .95zm0 1.543h-.002a.475.475 0 0 1 0-.95h.003a.475.475 0 0 1 0 .95zm1.92-3.086a.475.475 0 0 1-.001-.95h.001a.475.475 0 1 1 0 .95zm0 1.543a.475.475 0 0 1-.001-.95h.001a.475.475 0 1 1 0 .95zm0 1.543a.475.475 0 0 1-.001-.95h.001a.475.475 0 1 1 0 .95z"/></svg>
                     
                       <div class="contact-reference-text mt-4">
                            <h3>FAX</h3>
                            <p> 353-888-473-2963 <br>353-852-251-6685 </p>
                       </div>
                    </div>
               </div>  
        

             <img src="images/team-1.jpg" alt="">
          
        </div>
    </div>
</div>
      