<!------------sign up section------------------------->
<div class="login-section">
   <div class="container">
   <h2>Login Here</h2>
   <form action="/login" method="POST" class="">
      <input type="text" placeholder="Enter your  full name">
      <input type=" text" placeholder="Enter your email address">
      <input type="text" placeholder="Enter your phone number">
      <input type="text" placeholder="Enter your password">
      <input type="submit" id="submit" value="Submit">
      <p>Have already an account ?<a class="text-primary fw-bold" href="/appoitment">Log In Here</a>
</p>
   </form>
</div>
</div>