

<div class="signUp-section">
   <h2>Login Here</h2>
  <form action="/home" method="POST" class="">
    <input type="text" placeholder="Enter your  full name">
    <input type=" text" placeholder="Enter your email address">
    <input type="text" placeholder="Enter your phone number">
    <input type="text" placeholder="Enter your password">
    <input type="submit" id="submit" value="Submit">
    <a href="/">SEND ME</a>
 </form>
</div>