

<!-----------services header---------------->


<div class="service-header" style="background-image: linear-gradient(rgba(20, 21, 51, 0.4), rgba(20, 21, 51, 0.4)), url(images/docto-pic.jpg); background-repeat: no-repeat; background-position: center; margin-top:0px ; background-attachment: fixed; background-size: cover; padding:100px 0 100px; color: #fff;"> 
    <div class="container">
        <h2 class=" display-5 header">"Smile Brighter with Us! Your Trusted <br> Dental Care Experts!</h2>
        <p class="fs-4 mt-4 text">"Unlock Your Perfect Smile with Us! From routine check-ups to advanced treatments, <br>we've got your dental care covered Let's make your smile shine brighter together!"</p>
        <a  href="/contact"  class=" text-white mt-3 btn">Contact Us</a>
    </div>
</div>



<!---------------Our services----------------->

 <div class="section-service">
    <div class="container">
        <div class="service-header text-center mt-5">
            <h4 class="fw-bold">Our Service Keeps you Smile</h4>
             <h2 class="fw-bold display-4 text-primary">What We Offer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, possimus.</p>
        </div>
        <div class="service-content">
              <div class="service-detail text-center">
                  <img src="images/dental-fillings.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Dental filling</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>


                <div class="service-detail text-center">
                <img src="images/braces.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Teeth braces</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>



                <div class="service-detail text-center">
                   <img src="images/implant.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Implant</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>


                 <div class="service-detail text-center">
                   <img src="images/tooth-insurance-1.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Teeth whitening</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>


               <div class="service-detail text-center">
                   <img src="images/extraction.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Tooth extraction</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>


                 <div class="service-detail text-center">
                   <img src="images/medicine.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Medecine</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>

               <div class="service-detail text-center">
                   <img src="images/orthodontic.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Orthodontics </h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>
             
                <div class="service-detail text-center">
                   <img src="images/scedule.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Routine Dental Exam </h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>




              <div class="service-detail text-center">
                 <img src="images/whitening.png" alt="">
                <div class="text">
                    <h4 class="mt-3">Teeth cleaning</h4>
                    <p>Finibus ultricies letius scelerisque sagittis mattis commodo imperdiet sed hendrerit</p>
                </div>
              </div>
        </div>
    </div>
 </div>


<!-------------Emergency section------------------------>

<div class="emergency-section" style="background-image: linear-gradient(rgba(20, 21, 51, 0.1), rgba(20, 21, 51, 0.1)), url(images/pain-teeth.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; padding:100px 0 100px; color: #fff;"> 
    <div class="container">
    <div class="emergency-content">
        <h2 class="display-4 fw-bold">Emergency?</h2>
        <p class="fs-4 mt-4">Get Help Now by Calling Our <br> Emergency Service</p>
        <a href="/contact" class=" text-white mt-3 btn">Call Emergency Service</a>
        </div>
    </div>
</div>